.paddingZero {
  padding: 0px !important;
}
.displayNone {
  display: none !important;
}
.sticky-right-item {
  position: fixed;
  right: 0;
  top: 220px;
  z-index: 999;
  background-color: white;
  width: 300px;
}
.sticky-right-item img {
  width: 100%;
}
.sticky-right-item .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.sticky-right-item .close:hover {
  opacity: 1;
}
.sticky-right-item .close:before,
.sticky-right-item .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: white;
}
.sticky-right-item .close:before {
  transform: rotate(45deg);
}
.sticky-right-item .close:after {
  transform: rotate(-45deg);
}
.sticky-right-item .content {
  padding: 15px;
  text-align: center;
}
.sticky-right-item .content h3 {
  margin: 0;
  margin-bottom: 8px;
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.sticky-right-item .content h2 {
  margin: 0;
  margin-bottom: 8px;
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.sticky-right-item .content .btn-more-info {
  border: none;
  background-color: #f08423;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
  padding: 8px;
}
@media (max-width: 767px) {
  .carousel-caption {
    margin-top: -35px;
    top: 50%;
    padding: 0px;
  }
  .carousel-caption h2 {
    margin: 0px;
    font-size: 38px;
  }
}
.new-top-bar {
  padding: 0px !important;
}
.new-top-bar div {
  padding: 25px 18px 25px 18px;
  float: left;
  min-height: 102px;
}
.new-top-bar div:nth-child(1) {
  width: 40%;
  padding: 18px;
  text-align: right;
}
.new-top-bar div:nth-child(1) img {
  height: 65px;
}
.new-top-bar div:nth-child(2) {
  width: 30%;
  background-color: #f08423;
  border-left: 1px solid #f08423;
}
.new-top-bar div:nth-child(2) .hoverActive {
  display: none;
  border-left: 1px;
}
.new-top-bar div:nth-child(2) .hoverActive img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.new-top-bar div:nth-child(2) .hoverActive img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.new-top-bar div:nth-child(2):hover {
  cursor: pointer;
  background-color: white;
  padding: 20px 18px 20px 18px;
}
.new-top-bar div:nth-child(2):hover .default {
  display: none;
}
.new-top-bar div:nth-child(2):hover .hoverActive {
  display: block;
}
.new-top-bar div:nth-child(3) {
  width: 30%;
  background-color: #425fac;
}
.new-top-bar div:nth-child(3) .hoverActive {
  display: none;
}
.new-top-bar div:nth-child(3) .hoverActive span {
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1199px) {
  .new-top-bar div:nth-child(3) .hoverActive span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
}
.new-top-bar div:nth-child(3) .hoverActive span:hover {
  color: #f08423;
}
.new-top-bar div:nth-child(3) .hoverActive span:nth-child(1),
.new-top-bar div:nth-child(3) .hoverActive span:nth-child(2),
.new-top-bar div:nth-child(3) .hoverActive span:nth-child(3) {
  padding-right: 30px;
}
@media (max-width: 1199px) {
  .new-top-bar div:nth-child(3) .hoverActive span:nth-child(1),
  .new-top-bar div:nth-child(3) .hoverActive span:nth-child(2),
  .new-top-bar div:nth-child(3) .hoverActive span:nth-child(3) {
    padding-right: 14px;
  }
}
.new-top-bar div:nth-child(3):hover {
  cursor: pointer;
  background-color: white;
  padding: 38px 18px 38px 18px;
}
.new-top-bar div:nth-child(3):hover .default {
  display: none;
}
.new-top-bar div:nth-child(3):hover .hoverActive {
  display: block;
}
.new-top-bar div h1 {
  text-align: right;
  color: white;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.new-top-bar div h2 {
  text-align: right;
  color: white;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .new-top-bar {
    display: none;
  }
}
.nav {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: 48px;
}
.nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.nav ul li {
  text-transform: uppercase;
  float: left;
  color: white;
  display: table;
}
.nav ul li span {
  display: table-cell;
  vertical-align: middle;
}
.nav ul li a {
  display: inline-block;
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
  padding: 12px 36px;
  margin: 0;
  color: white;
  line-height: 24px;
}
.nav ul li a:hover {
  background-color: #263e91;
}
.nav.sticky {
  position: fixed;
  z-index: 999;
  top: -50px;
}
.nav.sticky ul li:nth-child(1) a {
  padding: 0px;
}
.nav.sticky ul li:nth-child(1) a img {
  width: 150px;
}
.nav.sticky ul li a {
  padding: 12px 25px;
}
.nav-book {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
}
.nav-mobile {
  background-color: #F8F9F9;
  height: 60px;
  transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
.nav-mobile.active {
  height: 340px;
}
.nav-mobile .container {
  z-index: 999;
  border-bottom: 1px solid #f08423;
}
.nav-mobile .logo {
  float: left;
}
.nav-mobile .logo img {
  height: 48px;
}
.nav-mobile .hamburger {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.nav-mobile .hamburger span {
  display: block;
  width: 33px !important;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f08423;
  border-radius: 3px;
}
.nav-mobile .mobile-menu {
  height: 100%;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.nav-mobile .mobile-menu div {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
  padding: 12px 36px;
  color: white;
}
.nav-mobile .mobile-menu div:hover {
  background-color: #263e91;
}
#recent-works {
  padding-top: 28px;
  padding-bottom: 44px;
}
#recent-works .container {
  padding: 0 180px;
}
@media (max-width: 1199px) {
  #recent-works .container {
    padding: 0 100px;
  }
}
@media (max-width: 767px) {
  #recent-works .container {
    padding: 0 15px;
  }
}
#recent-works h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #191919;
  text-align: center;
  margin-bottom: 60px;
  line-height: 30px;
}
#recent-works .Panel li {
  cursor: pointer;
}
#recent-works .Panel .Panel__body {
  display: none;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
  padding: 50px;
}
#recent-works .Panel .Panel__body.active {
  display: flex;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body.active {
    display: block;
  }
}
#recent-works .Panel .Panel__body p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #191919;
  margin: 0;
  text-align: left;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body p {
    text-align: center;
  }
}
#recent-works .Panel .Panel__body h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #191919;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body h3 {
    text-align: center;
  }
}
#recent-works .Panel .Panel__body img {
  padding-right: 30px;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body img {
    text-align: center;
    padding-right: 0px;
  }
}
#recent-works .Tabs {
  position: relative;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}
#recent-works .Tabs li:nth-child(1),
#recent-works .Tabs li:nth-child(2),
#recent-works .Tabs li:nth-child(3) {
  padding: 15px 0;
}
#recent-works .Tabs li:nth-child(1) img,
#recent-works .Tabs li:nth-child(2) img,
#recent-works .Tabs li:nth-child(3) img {
  width: 70px;
}
#recent-works .Tabs li:nth-child(1) h4,
#recent-works .Tabs li:nth-child(2) h4,
#recent-works .Tabs li:nth-child(3) h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #191919;
  margin: 0px;
}
#recent-works .Tabs:after {
  content: ' ';
  display: table;
  clear: both;
}
#recent-works .Tabs__tab {
  float: left;
  width: 33.333%;
  text-align: center;
}
#recent-works .Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
  left: 0;
}
#recent-works .Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
  left: 33.333%;
}
#recent-works .Tabs__tab:nth-child(3).active ~ .Tabs__presentation-slider {
  left: calc(66.666%);
}
#recent-works .Tabs__presentation-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.333%;
  height: 2px;
  background-color: #f08423;
  transition: left .25s;
}
#recent-works .Tab {
  font-family: 'Roboto Slab';
}
#recent-works .Tab > a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: #666;
  transition: color .15s;
}
#recent-works .Tab.active > a {
  color: #222;
}
#recent-works .Tab:hover > a {
  color: #222;
}
.academic .row:nth-child(1) {
  min-height: 430px;
}
@media (max-width: 1199px) {
  .academic .row:nth-child(1) {
    min-height: 480px;
  }
}
.academic .row:nth-child(2) {
  margin-top: -50px;
  padding-bottom: 150px;
}
.academic .row:nth-child(2) div {
  z-index: 2;
}
.academic .left {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 55px;
}
.academic .right {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 68%;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  padding: 50px 20px 50px 70px;
}
@media (max-width: 1199px) {
  .academic .right {
    width: 58%;
  }
}
.tutorial .row:nth-child(1) {
  min-height: 430px;
}
@media (max-width: 1199px) {
  .tutorial .row:nth-child(1) {
    min-height: 480px;
  }
}
.tutorial .left {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 55px;
}
.tutorial .right {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 68%;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  padding: 50px 20px 50px 70px;
}
@media (max-width: 1199px) {
  .tutorial .right {
    width: 58%;
  }
}
.academic .container:nth-child(1),
.tutorial .container:nth-child(1) {
  width: 100%;
}
.academic .background-text h2,
.tutorial .background-text h2 {
  position: absolute;
  font-size: 180px;
  opacity: 0.15;
  top: 0;
  line-height: 160px;
}
.academic p,
.tutorial p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.academic h2,
.tutorial h2 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  font-weight: 600;
}
.academic h3,
.tutorial h3 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.academic .mobile,
.tutorial .mobile {
  background-color: #f08423;
}
.academic .mobile img,
.tutorial .mobile img {
  width: 100%;
}
.academic .mobile .content,
.tutorial .mobile .content {
  padding: 15px;
}
