.paddingZero {
  padding: 0px !important;
}
.displayNone {
  display: none !important;
}
html,
body {
  height: 100%;
}
@media (max-width: 767px) {
  #intro {
    margin-top: 60px;
  }
  #intro h2 {
    font-size: 15px;
  }
}
@media (max-width: 991px) {
  #intro {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  #index-page .carousel-control {
    display: none;
  }
  #index-page .carousel-section {
    height: calc(100% - 64px);
  }
  #index-page .carousel-section section.carousel {
    height: 100%;
  }
  #index-page .carousel-section section.carousel .center-mobile {
    background-position: right -700px center;
  }
  #index-page .carousel-section section.carousel .carousel-inner {
    height: 100%;
  }
  #index-page .carousel-section section.carousel .carousel-inner .item {
    height: 100%;
  }
}
.sticky-right-item {
  position: fixed;
  right: 0;
  bottom: 100px;
  z-index: 99;
  background-color: white;
  width: 300px;
}
.sticky-right-item img {
  width: 100%;
}
.sticky-right-item .close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.sticky-right-item .close:hover {
  opacity: 1;
}
.sticky-right-item .close:before,
.sticky-right-item .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: white;
}
.sticky-right-item .close:before {
  transform: rotate(45deg);
}
.sticky-right-item .close:after {
  transform: rotate(-45deg);
}
.sticky-right-item .content {
  padding: 15px;
  text-align: center;
}
.sticky-right-item .content h3 {
  margin: 0;
  margin-bottom: 8px;
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.sticky-right-item .content h2 {
  margin: 0;
  margin-bottom: 8px;
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
}
.sticky-right-item .content .btn-more-info {
  border: none;
  background-color: #f08423;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
  padding: 8px;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .carousel-caption h2 {
    margin: 0px;
    font-size: 38px;
  }
}
.new-top-bar {
  padding: 0px !important;
  max-height: 100px;
}
.new-top-bar div {
  padding: 25px 18px 25px 18px;
  min-height: 102px;
}
.new-top-bar div:nth-child(1) {
  padding: 18px;
  text-align: right;
}
.new-top-bar div:nth-child(1) img {
  height: 65px;
}
.new-top-bar div:nth-child(2) {
  background-color: #f08423;
  border-left: 1px solid #f08423;
}
.new-top-bar div:nth-child(2) .hoverActive {
  display: none;
  border-left: 1px;
}
.new-top-bar div:nth-child(2) .hoverActive img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.new-top-bar div:nth-child(2) .hoverActive img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.new-top-bar div:nth-child(2):hover {
  cursor: pointer;
  background-color: white;
  padding: 10px 18px;
}
@media (max-width: 1199px) {
  .new-top-bar div:nth-child(2):hover {
    padding: 30px 18px;
  }
}
.new-top-bar div:nth-child(2):hover .default {
  display: none;
}
.new-top-bar div:nth-child(2):hover .hoverActive {
  display: flex;
  justify-content: space-around;
}
.new-top-bar div:nth-child(2):hover .hoverActive img {
  width: auto;
  max-height: 100px;
  max-width: 100%;
  float: left;
}
.new-top-bar div:nth-child(3) {
  background-color: #425fac;
}
.new-top-bar div:nth-child(3) .hoverActive {
  display: none;
}
.new-top-bar div:nth-child(3) .hoverActive span {
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1199px) {
  .new-top-bar div:nth-child(3) .hoverActive span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
  }
}
.new-top-bar div:nth-child(3) .hoverActive span:hover {
  color: #f08423;
}
.new-top-bar div:nth-child(3) .hoverActive span:nth-child(1),
.new-top-bar div:nth-child(3) .hoverActive span:nth-child(2),
.new-top-bar div:nth-child(3) .hoverActive span:nth-child(3) {
  padding-right: 22px;
}
@media (max-width: 1199px) {
  .new-top-bar div:nth-child(3) .hoverActive span:nth-child(1),
  .new-top-bar div:nth-child(3) .hoverActive span:nth-child(2),
  .new-top-bar div:nth-child(3) .hoverActive span:nth-child(3) {
    padding-right: 10px;
  }
}
.new-top-bar div:nth-child(3):hover {
  cursor: pointer;
  background-color: white;
  padding: 38px 18px 38px 18px;
}
.new-top-bar div:nth-child(3):hover .default {
  display: none;
}
.new-top-bar div:nth-child(3):hover .hoverActive {
  display: block;
}
.new-top-bar div h1 {
  text-align: right;
  color: white;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.new-top-bar div h2 {
  text-align: right;
  color: white;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.nav {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: 48px;
}
.nav.nav-desktop {
  text-align: center;
}
.nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.nav ul li {
  text-transform: uppercase;
  float: left;
  color: white;
  display: table;
}
.nav ul li .dropdown-menu {
  display: none;
  background-color: rgba(235, 103, 37, 0.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 255, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
}
.nav ul li .dropdown-menu li {
  width: 100%;
}
.nav ul li .dropdown-menu li a {
  width: 100%;
}
.nav ul li .dropdown-menu li a:hover {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #1f63ae 100%);
  color: #fff;
}
.nav ul li span {
  display: table-cell;
  vertical-align: middle;
}
.nav ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
  padding: 12px 36px;
  margin: 0;
  color: white;
  line-height: 24px;
}
.nav ul li a:hover {
  background-color: #263e91;
}
.nav.sticky {
  position: fixed;
  z-index: 999;
  top: -250px;
  opacity: 0;
}
.nav.sticky ul li {
  cursor: pointer;
}
.nav.sticky ul li:nth-child(1) a {
  padding: 0px;
}
.nav.sticky ul li:nth-child(1) a img {
  width: 150px;
}
.nav.sticky ul li a {
  padding: 12px 40px;
}
@media (max-width: 1199px) {
  .nav.sticky ul li a {
    padding: 12px 25px;
  }
}
.nav.sticky .dropdown-menu a {
  padding: 12px 36px !important;
}
.nav-book {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
}
.nav-mobile {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  background-color: #F8F9F9;
  transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  text-align: center;
}
.nav-mobile .container {
  z-index: 999;
  border-bottom: 1px solid #f08423;
}
.nav-mobile .logo img {
  margin: 5px 0px 0px 45px;
  height: 48px;
}
.nav-mobile .hamburger {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.nav-mobile .hamburger span {
  display: block;
  width: 33px !important;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f08423;
  border-radius: 3px;
}
.nav-mobile .mobile-menu {
  height: 0;
  transition: height 0.35s ease-out;
  -webkit-transition: height 0.35s ease-out;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}
.nav-mobile .mobile-menu ul {
  list-style: none;
  padding: 0;
}
.nav-mobile .mobile-menu ul li a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
  color: white;
  display: block;
  padding: 12px 36px;
}
.nav-mobile .mobile-menu ul li a:hover {
  background-color: #263e91;
}
.nav-mobile .mobile-menu .mobile-dropdown-menu {
  display: none;
  background-color: #263e91;
}
.nav-mobile.active {
  overflow: scroll;
}
.nav-mobile.active .mobile-menu {
  transition: height 0.35s ease-in;
  -webkit-transition: height 0.35s ease-in;
}
#recent-works {
  padding-top: 28px;
  padding-bottom: 44px;
}
#recent-works .container {
  padding: 0 180px;
}
@media (max-width: 1199px) {
  #recent-works .container {
    padding: 0 100px;
  }
}
@media (max-width: 767px) {
  #recent-works .container {
    padding: 0 15px;
  }
}
#recent-works h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #191919;
  text-align: center;
  margin-bottom: 60px;
  line-height: 30px;
}
@media (max-width: 767px) {
  #recent-works h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
}
#recent-works .Panel li {
  cursor: pointer;
}
#recent-works .Panel .Panel__body {
  display: none;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
  padding: 50px;
  min-height: 300px;
}
#recent-works .Panel .Panel__body.active {
  display: flex;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body.active {
    display: block;
  }
}
#recent-works .Panel .Panel__body p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #191919;
  margin: 0;
  text-align: left;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body p {
    text-align: center;
  }
}
#recent-works .Panel .Panel__body h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #191919;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body h3 {
    text-align: center;
  }
}
#recent-works .Panel .Panel__body img {
  padding-right: 30px;
  height: 100%;
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body img {
    text-align: center;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  #recent-works .Panel .Panel__body {
    padding: 20px;
  }
  #recent-works .Panel .Panel__body h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  #recent-works .Panel .Panel__body p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }
}
#recent-works .Tabs {
  position: relative;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}
#recent-works .Tabs li:nth-child(1),
#recent-works .Tabs li:nth-child(2),
#recent-works .Tabs li:nth-child(3) {
  padding: 15px 0;
}
#recent-works .Tabs li:nth-child(1) img,
#recent-works .Tabs li:nth-child(2) img,
#recent-works .Tabs li:nth-child(3) img {
  width: 70px;
}
#recent-works .Tabs li:nth-child(1) h4,
#recent-works .Tabs li:nth-child(2) h4,
#recent-works .Tabs li:nth-child(3) h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #191919;
  margin: 0px;
}
@media (max-width: 767px) {
  #recent-works .Tabs li:nth-child(1) h4,
  #recent-works .Tabs li:nth-child(2) h4,
  #recent-works .Tabs li:nth-child(3) h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
}
#recent-works .Tabs:after {
  content: ' ';
  display: table;
  clear: both;
}
#recent-works .Tabs__tab {
  float: left;
  width: 33.333%;
  text-align: center;
}
#recent-works .Tabs__tab:first-child.active ~ .Tabs__presentation-slider {
  left: 0;
}
#recent-works .Tabs__tab:nth-child(2).active ~ .Tabs__presentation-slider {
  left: 33.333%;
}
#recent-works .Tabs__tab:nth-child(3).active ~ .Tabs__presentation-slider {
  left: calc(66.666%);
}
#recent-works .Tabs__presentation-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.333%;
  height: 2px;
  background-color: #f08423;
  transition: left .25s;
}
#recent-works .Tab {
  font-family: 'Roboto Slab';
}
#recent-works .Tab > a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: #666;
  transition: color .15s;
}
#recent-works .Tab.active > a {
  color: #222;
}
#recent-works .Tab:hover > a {
  color: #222;
}
.academic {
  margin-bottom: 50px;
}
.academic .orange-bg-02,
.academic .green-bg-02 {
  min-height: 550px;
}
@media (max-width: 991px) {
  .academic .orange-bg-02,
  .academic .green-bg-02 {
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .academic .orange-bg-02,
  .academic .green-bg-02 {
    min-height: auto;
  }
}
.academic .row:nth-child(1) {
  margin-bottom: 20px;
  min-height: 430px;
}
@media (max-width: 1199px) {
  .academic .row:nth-child(1) {
    min-height: auto;
  }
}
.academic .row:nth-child(2) {
  margin-top: -50px;
  padding-bottom: 150px;
}
.academic .row:nth-child(2) div {
  z-index: 2;
}
.academic .left {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 25px;
}
@media (max-width: 1199px) {
  .academic .left {
    z-index: 0;
  }
}
.academic .right {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 56%;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  padding: 0 35px;
}
@media (max-width: 1199px) {
  .academic .right {
    width: 60%;
  }
}
.academic .mobile {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}
@media (max-width: 991px) and (max-width: 767px) {
  .academic .mobile h2,
  .academic .mobile h3,
  .academic .mobile p {
    color: #4e4e4e;
  }
}
.tutorial .row:nth-child(1) {
  min-height: 430px;
}
@media (max-width: 1199px) {
  .tutorial .row:nth-child(1) {
    min-height: 480px;
  }
}
.tutorial .left {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 35px;
}
@media (max-width: 1199px) {
  .tutorial .left {
    z-index: 0;
  }
}
.tutorial .right {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 56%;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  padding: 35px;
}
@media (max-width: 1199px) {
  .tutorial .right {
    width: 60%;
  }
}
@media (max-width: 1199px) {
  .academic .container:nth-child(1),
  .tutorial .container:nth-child(1) {
    width: 100%;
  }
}
.academic .background-text h2,
.tutorial .background-text h2 {
  position: absolute;
  font-size: 180px;
  opacity: 0.15;
  top: 0;
  line-height: 160px;
}
.academic p,
.tutorial p {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
@media (max-width: 991px) {
  .academic p,
  .tutorial p {
    display: none;
  }
}
@media (max-width: 767px) {
  .academic p,
  .tutorial p {
    display: none;
  }
}
.academic h2,
.tutorial h2 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  font-weight: 600;
}
.academic h3,
.tutorial h3 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
@media (max-width: 991px) {
  .academic h3,
  .tutorial h3 {
    font-weight: bold;
  }
}
@media (max-width: 767px) {
  .academic h2,
  .tutorial h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 600;
  }
  .academic h3,
  .tutorial h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }
}
.academic .mobile,
.tutorial .mobile {
  background-color: #f08423;
}
.academic .mobile img,
.tutorial .mobile img {
  width: 100%;
}
.academic .mobile .content,
.tutorial .mobile .content {
  padding: 15px;
}
@media (max-width: 991px) {
  .academic .btm-line,
  .tutorial .btm-line {
    display: none;
  }
}
.happening .featured {
  margin-top: 30px;
  margin-bottom: 130px;
}
@media (max-width: 991px) {
  .happening .featured {
    margin-bottom: 50px;
  }
}
.happening .featured .img .center-cropped {
  float: right;
  width: 420px;
  height: 550px;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .happening .featured .img .center-cropped {
    float: none;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.happening .featured .content h1 {
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
}
.happening .featured .content h3 {
  color: #191919;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.happening .featured .content p {
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 0;
  margin-bottom: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.happening .featured .content .moreinfo {
  border: 0;
  box-shadow: none;
  color: white;
  background-color: #f08423;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 7px 15px;
}
@media (max-width: 991px) {
  .happening .featured .content h3 {
    margin-top: 15px;
  }
  .happening .featured .content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
  }
}
.happening .happeningSlide .MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.happening .happeningSlide .MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.happening .happeningSlide .MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.happening .happeningSlide .MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.happening .happeningSlide .MultiCarousel .leftLst,
.happening .happeningSlide .MultiCarousel .rightLst {
  position: absolute;
  top: calc(20%);
}
.happening .happeningSlide .MultiCarousel .leftLst {
  left: 0;
}
.happening .happeningSlide .MultiCarousel .rightLst {
  right: 0;
}
.happening .happeningSlide .MultiCarousel .leftLst.over,
.happening .happeningSlide .MultiCarousel .rightLst.over {
  display: none;
}
.happening .happeningSlide .MultiCarousel .leftLst,
.happening .happeningSlide .MultiCarousel .rightLst {
  width: 60px;
  cursor: pointer;
  background-color: #f08423;
  padding: 0px;
  border-radius: 0px;
}
.happening .happeningSlide .MultiCarousel .leftLst {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.happening .happeningSlide .MultiCarousel .item .img {
  width: 100%;
  min-height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.happening .happeningSlide .MultiCarousel .item .content {
  text-align: left;
}
.happening .happeningSlide .MultiCarousel .item .content h3 {
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.happening .happeningSlide .MultiCarousel .item .content h1 {
  margin-top: 0px;
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.happening .happeningSlide .MultiCarousel .item .content p {
  color: #191919;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.happening .happeningSlide .MultiCarousel .item .content .moreinfo {
  color: #f08423;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.happeningEvent #myCarousel {
  margin: 30px 0;
}
@media (max-width: 991px) {
  .happeningEvent section.carousel .item,
  .happeningEvent section.carousel .item.active,
  .happeningEvent section.carousel .carousel-inner {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .happeningEvent section.carousel .item,
  .happeningEvent section.carousel .item.active,
  .happeningEvent section.carousel .carousel-inner {
    height: 200px;
  }
}
.academicCalendar #calendar {
  margin-top: 30px;
}
.academicCalendar #eventlist {
  margin-top: 30px;
}
@media (max-width: 767px) and (max-width: 991px) {
  .ourBranches #intro .container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
}
.ourBranches .logoWrapper {
  display: flex;
  padding-bottom: 30px;
}
.ourBranches .logoWrapper span {
  display: inline-flex;
  align-items: center;
}
.ourBranches .logoWrapper img {
  width: 50%;
  height: 100%;
}
@media (max-width: 767px) and (max-width: 991px) {
  .ourBranches .touch-slider .item img {
    width: 100%;
  }
}
.career h2.text-center {
  padding-bottom: 30px;
}
@media (max-width: 767px) and (max-width: 991px) {
  .career h2.text-center {
    font-size: 18px;
  }
}
@media (max-width: 767px) and (max-width: 991px) {
  .collinzInt #intro h1 {
    font-size: 29px;
  }
}
