//@author: sern
// doing css in less's way

//variable
@import "variables.less";

//Color Variables Declaration Begin----------
@theme-orange :#f08423;
@theme-blue   :#425fac;
@theme-black : #191919;
@theme-hover-blue: #263e91;
@theme-light-grey: #F8F9F9;
//Color Variables Declaration End----------


//Font Method Declaration Begin-------------
@font-option-SourceSansPro       : 'Source Sans Pro', sans-serif;

.apply-font-sourcesans-regular(@size) 
{
  font-family: @font-option-SourceSansPro;
  font-size  : @size;
}

.apply-font-sourcesans-bold(@size) 
{
  font-family: @font-option-SourceSansPro;
  font-size  : @size;
  font-weight: 600;
}

//Font Method Declaration End-------------

//global
.paddingZero
{
  padding: 0px !important;
}

.displayNone
{
  display: none !important;
}

html, body{
  height: 100%;
}
//
#intro{
  @media (max-width: @screen-xs-max) {
    h2{
      font-size: 15px;
    }
  }
}

#index-page
{
  @media (max-width: @screen-xs-max) {
    .carousel-control
    {
      display: none;
    }

    .carousel-section
    {
      height: calc(~'100% - 64px');
      section.carousel 
      {
        height: 100%;
        .center-mobile
        {
          background-position: right -315px center;
        }

        .carousel-inner{
          height: 100%;
          .item{
            height: 100%;
          }
        }
      }
    }
  }
}

.sticky-right-item
{
  position: fixed;
  right: 0;
  bottom : 100px;
  z-index: 99;//always on top
  background-color: white;
  width: 300px;
  // height: 340px;

  img{
    width: 100%;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

  .content{
    padding: 15px;
    text-align: center;

    h3{
      margin: 0;
      margin-bottom: 8px;
      color: @theme-black;
      .apply-font-sourcesans-bold(18px);
    }

    h2{
      margin: 0;
      margin-bottom: 8px;
      color: @theme-black;
      .apply-font-sourcesans-bold(27px);
    }

    .btn-more-info
    {
      border: none;
      background-color: @theme-orange;
      color:white;
      .apply-font-sourcesans-bold(27px);
      padding: 8px;
      border-radius: 3px;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .carousel-caption
  {
    // margin-top: -35px;
    // top: 50%;
    // padding: 0px;
    h2{
      margin: 0px;
      font-size: 38px;
    }
  }
}

.new-top-bar{
  .paddingZero;
  max-height: 100px;

  div{
    padding: 25px 18px 25px 18px;
    // float: left;
    min-height: 102px;
    &:nth-child(1)
    {
      // width: 40%;
      padding: 18px;
      text-align: right;
      img{
        // width: 100%;
        height: 65px;
      }
    }

    &:nth-child(2)
    {
      // width: 30%; 
      background-color: @theme-orange;
      border-left: 1px solid @theme-orange;

      .hoverActive{
        display: none;
        border-left: 1px;
        img{
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
          &:hover
          {
             -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
          }
        }
      }

      &:hover
      {
        cursor: pointer;
        background-color: white;
        padding: 10px 18px;

        @media (max-width: @screen-md-max) {
          padding: 30px 18px;
        }

        .default
        {
          display: none;  
        }
        
        .hoverActive
        {
          display: block;
        }
      }
    }
    &:nth-child(3)
    {
      // width: 30%; 
      background-color: @theme-blue;

      .hoverActive{
        display: none;
        span{
          color:grey;
          .apply-font-sourcesans-bold(18px);

          @media (max-width: @screen-md-max) {
            .apply-font-sourcesans-bold(14px);
          }

          &:hover
          {
            color:@theme-orange;
          }

          &:nth-child(1),&:nth-child(2),&:nth-child(3)
          {
            padding-right: 30px;
            

            @media (max-width: @screen-md-max) {
              padding-right: 14px;
            }
          }
        }
      }

      &:hover
      {
        cursor: pointer;
        background-color: white;
        padding: 38px 18px 38px 18px;

        .default
        {
          display: none;  
        }
        
        .hoverActive
        {
          display: block;
        }
      }
    }

    h1{
      text-align: right;
      color: white;
      margin: 0px;
      .apply-font-sourcesans-bold(30px);
    }

    h2{
      text-align: right;
      color: white;
      margin: 0px;
      .apply-font-sourcesans-bold(18px);
    }
  }
}

.nav
{
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: 48px;
  &.nav-desktop
  {
    text-align: center;
  }

  ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    li{
      text-transform: uppercase;
      float: left;
      color: white;
      display: table;

      .dropdown-menu
      {
        display: none;
        background-color: rgba(235,103,37,.85);
        -webkit-box-shadow: 0 3px 8px rgba(0,0,370, 0.125);
        -moz-box-shadow: 0 3px 8px rgba(0,0,0, 0.125);
        box-shadow: 0 3px 8px rgba(0,0,0, 0.125);
        border: 0;
        padding: 0;
        margin-top: 0;
        border-top: 0;
        border-radius: 0;

        li{
          width: 100%;
          a{
            width: 100%;
            &:hover
            {
              background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #1f63ae 100%);
              color: #fff;
            }
          }
        }
      }

      span{
        display:table-cell;
        vertical-align:middle;
      }
      a{
        display: inline-block;
        -webkit-animation: fadeInUp 300ms linear 300ms both;
        -moz-animation: fadeInUp 300ms linear 300ms both;
        -o-animation: fadeInUp 300ms linear 300ms both;
        -ms-animation: fadeInUp 300ms linear 300ms both;
        animation: fadeInUp 300ms linear 300ms both;
        padding: 12px 36px;
        margin: 0;
        color: white;
        line-height: 24px;
        &:hover
        {
          background-color: @theme-hover-blue;
        }
        
      }
    }
  }

  &.sticky{
    position: fixed;
    z-index: 999;
    top: -250px;
    opacity: 0;
    ul{
      li{
        &:nth-child(1)
        {
          a{
            padding: 0px;
            img
            {
              width: 150px;
            }
          }
        }
        a{
          padding: 12px 40px;
          @media (max-width: @screen-md-max) {
            padding: 12px 25px;
          }
        }
      }
    }
  }
}

.nav-book
{
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
}

.nav-mobile
{
  background-color: @theme-light-grey;
  // height: 60px;
  transition : height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  // overflow: hidden;

  text-align: center;//center logo

  .container{
    z-index: 999;
    border-bottom: 1px solid @theme-orange;
  }

  .logo{
    // float: left;
    img{
      margin: 5px 0px 0px 45px;
      height: 48px;
    }
  }

  .hamburger
  {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    span{
      display: block;
      width: 33px !important;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: @theme-orange;
      border-radius: 3px;
      
    }
  }

  .mobile-menu{
    // height: 100%;
    // display: none;
    height: 0;
    transition: height 0.35s ease-out;
    -webkit-transition: height 0.35s ease-out;

    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    div{
      
    }

    ul{
      list-style: none;
      padding: 0;
      li{
        a{
          -webkit-animation: fadeInUp 300ms linear 300ms both;
          -moz-animation: fadeInUp 300ms linear 300ms both;
          -o-animation: fadeInUp 300ms linear 300ms both;
          -ms-animation: fadeInUp 300ms linear 300ms both;
          animation: fadeInUp 300ms linear 300ms both;
          color: white;
          display: block;
          padding: 12px 36px;
          &:hover
          {
            background-color: @theme-hover-blue;
          }
        }
      }
    }

    .mobile-dropdown-menu
    {
      display: none;
      background-color: @theme-hover-blue;
    }
  }

  &.active{
    .mobile-menu{
      transition: height 0.35s ease-in;
      -webkit-transition: height 0.35s ease-in;
      // display: block;
    }
  }
}

//content sections
#recent-works
{ 
  padding-top: 28px;
  padding-bottom: 44px;
  .container
  {
    padding: 0 180px;
    @media (max-width: @screen-md-max) {
      padding: 0 100px;
    }

    @media (max-width: @screen-xs-max) {
      padding: 0 15px;
    }
  }

  h3
  {
    .apply-font-sourcesans-bold(27px); 
    color: @theme-black;
    text-align: center;
    margin-bottom: 60px;
    line-height: 30px;

    @media (max-width: @screen-xs-max) {
      .apply-font-sourcesans-bold(20px); 
    }

  }

  //sliding tab
  //source : https://codepen.io/everdimension/pen/xZLggo
  .Panel {
    // width: 100%;
    // max-width: 600px;
    // margin: 30px auto;
    // &__body {
    //   background-color: #f2f2f2;
    //   padding: 10px 20px;
    // }
    li{
      cursor: pointer;
    }

    .Panel__body
    {
      display: none;
      border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
      -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.125);
      padding: 50px;
      min-height: 300px;


      &.active
      {
        display: flex;

        @media (max-width: @screen-xs-max) {
          display: block;
        }
      }

      p{
        .apply-font-sourcesans-regular(20px); 
        color: @theme-black;
        margin: 0;
        text-align: left;
        @media (max-width: @screen-xs-max) {
          text-align: center;
        }
      }

      h3{
        .apply-font-sourcesans-bold(27px); 
        color: @theme-black;
        margin-top: 0px;
        text-align: left;
        margin-bottom: 30px;
        @media (max-width: @screen-xs-max) {
          text-align: center;
        }
      }

      img{
        padding-right: 30px;
        height: 100%;
        @media (max-width: @screen-xs-max) {
          text-align: center;
          padding-right: 0px;
        }
      }

      @media (max-width: @screen-xs-max) {
        padding:20px;

        h3{
          .apply-font-sourcesans-bold(20px); 
        }

        p{
          .apply-font-sourcesans-regular(16px); 
        }
      }
      // div{
      //   float:left;
      // }
    }
  }

  .Tabs {
    position: relative;
    background-color: #fff;
    li{

      &:nth-child(1),&:nth-child(2),&:nth-child(3)
      {
        padding: 15px 0;
        img{
          width: 70px;
        }

        h4{
          .apply-font-sourcesans-bold(20px); 

          @media (max-width: @screen-xs-max) {
            .apply-font-sourcesans-bold(12px); 
          }

          color:@theme-black;
          margin: 0px;
        }
      }
    }

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
    margin: 0;
    padding: 0;
    list-style: none;
    &__tab {
      float: left;
      width: 33.333%;
      text-align: center;
      &:first-child.active ~ .Tabs__presentation-slider {
        left: 0;
      }
      &:nth-child(2).active ~ .Tabs__presentation-slider {
        left: 33.333%;
      }
      &:nth-child(3).active ~ .Tabs__presentation-slider {
        left: calc(33.333% * 2);
      }
    }
    &__presentation-slider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 33.333%;
      height: 2px;
      background-color: @theme-orange;
      transition: left .25s;
    }
  }

  .Tab {
    font-family: 'Roboto Slab';
    > a {
      display: block;
      padding: 10px 12px;
      text-decoration: none;
      color: #666;
      transition: color .15s;
    }
    &.active {
      > a {
        color: #222;
      }
    }
    &:hover {
      > a {
        color: #222;
      }
    }
  }
  //end of sliding tab
}

.academic
{
  margin-bottom: 50px;

  .orange-bg-02, .green-bg-02{
    min-height: 550px;
  }
  
  .row
  {
    &:nth-child(1)
    {
      margin-bottom: 20px;
      min-height: 430px;
       @media (max-width: @screen-md-max) {
        min-height: 480px;
      }
    }
    &:nth-child(2)
    {
      margin-top: -50px;
      padding-bottom: 150px;
      div{
        z-index: 2;
      }
    }
  }

  .left{
    position: absolute;
    left: 0;
    z-index: 1;
    top: 25px;

    @media (max-width: @screen-md-max) {
      z-index: 0;
    }
  }
  .right{
    overflow:hidden;
    position: absolute;
    right: 0;
    width: 56%;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    // padding: 50px 20px 50px 70px;
    padding: 0 20px;

    @media (max-width: @screen-md-max) {
      width: 60%;
    }
  }

  .mobile{
    margin-bottom: 40px;
  }
}

.tutorial
{
  .row
  {
    &:nth-child(1)
    {
      min-height: 430px;

      @media (max-width: @screen-md-max) {
        min-height: 480px;
      }
    }
  }

  .left{
    position: absolute;
    left: 0;
    z-index: 1;
    top: 35px;
    @media (max-width: @screen-md-max) {
      z-index: 0;
    }
  }
  .right{
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 56%;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    // padding: 50px 20px 50px 70px;
    padding: 20px;
    @media (max-width: @screen-md-max) {
      width: 60%;
    }
  }
}

.academic, .tutorial
{
  .container
  {
    @media (max-width: @screen-md-max) {
      &:nth-child(1)
      {
        width: 100%;
      }
    }
  }

  .background-text
  {
    h2{
      position: absolute;
      font-size: 180px;
      opacity: 0.15;
      top: 0;
      line-height: 160px;
    }
  }

  p{
    color:white;
    .apply-font-sourcesans-regular(18px);
  }
  h2{
    color:white;
    .apply-font-sourcesans-bold(48px);
  }
  h3{
    color:white;
    .apply-font-sourcesans-regular(18px);

    @media (max-width: @screen-sm-max) {
      font-weight: bold;
    }
  }

  @media (max-width: @screen-xs-max) {
    h2{
      .apply-font-sourcesans-bold(28px);
    }

    h3{
      .apply-font-sourcesans-regular(16px);
    }
  }

  .mobile
  {
    background-color: @theme-orange;
    img{
      width: 100%;
    }

    .content{
       padding: 15px;
    }
  }

  @media (max-width: @screen-sm-max) {
    .btm-line{
      display: none;
    }
    .lead{
      display: none;
    }
  }
}

//happening
.happening
{
  .featured{
    margin-top: 30px;
    margin-bottom: 130px;
     @media (max-width: @screen-sm-max) {
      margin-bottom:50px; 
    }
    .img{
      .center-cropped {
        float: right;
        width: 420px;
        height: 550px;
        background-position: center center;
        background-repeat: no-repeat;
      }

      @media (max-width: @screen-sm-max) {
        .center-cropped {
          float: none;
          width: 100%;
          height: 300px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
    .content{
      h1{
        color: @theme-black;
        .apply-font-sourcesans-regular(60px);
      }
      h3{
        color: @theme-black;
        margin: 0;
        .apply-font-sourcesans-bold(24px);
      }
      p{
        color: @theme-black;
        .apply-font-sourcesans-regular(20px);
        margin: 0;
        margin-bottom: 30px;
        //elipsis
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .moreinfo
      {
        border: 0;
        box-shadow: none;
        color:white;
        background-color: @theme-orange;
        .apply-font-sourcesans-bold(20px);
        border-radius: 8px;
        padding: 7px 15px;
      }

      @media (max-width: @screen-sm-max) {
        h3{
          margin-top: 15px;
        }
        h1{
          .apply-font-sourcesans-regular(30px);
        }
      }
    }
  }

  .happeningSlide
  {
    //multi item carousel
    .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
    .MultiCarousel .MultiCarousel-inner .item { float: left;}
    .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; top:calc(20%); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { display: none }

    .MultiCarousel
    {
      .leftLst, .rightLst
      {
        width: 60px;
        cursor: pointer;
        background-color: @theme-orange;
        padding: 0px;
        border-radius: 0px;
      }

      .leftLst
      {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      .item
      {
        .img
        {
          width: 100%;
          min-height: 250px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size:cover;
        }

        .content{
          text-align: left;
          h3{
            color: @theme-black;
            .apply-font-sourcesans-bold(16px);
          }
          h1{
            margin-top: 0px;
            color: @theme-black;
            .apply-font-sourcesans-bold(32px);
          }
          p{
            color: @theme-black;
            .apply-font-sourcesans-regular(20px);
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
          }
          .moreinfo{
            color: @theme-orange;
            .apply-font-sourcesans-bold(20px);
          }
        }
      }
    }
  }
}

.happeningEvent{
  //multi item carousel
  #myCarousel{
    margin: 30px 0;
  }
}
//academic calendar
.academicCalendar{
  #calendar{
    margin-top: 30px;
  }
  #eventlist{
    margin-top: 30px;
  }
}
//end of sern